*{
    font-family: poppins;
    color: #fff;
}

body{
    margin: 0;
    background-image: url(https://img.freepik.com/free-vector/abstract-banner-background-with-red-shapes_1361-3348.jpg?w=996&t=st=1677552652~exp=1677553252~hmac=89cf7b537433e13d1e65503d13e61bb45ab9638428717ee34175968cfd72caa4);
    background-size: cover;
    background-position: center;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculadora{
    display: grid;
    grid-template-columns: repeat(4, 75px);
    grid-template-rows: 160px repeat(5, 75px);
    background-image: url(https://img.freepik.com/free-vector/gradient-grainy-texture_23-2148976749.jpg?w=826&t=st=1677552714~exp=1677553314~hmac=6a58ac96d3f37e7ca99b676a877deea4a79ef8ee3b90721c65d9516051ec3f33);
    background-size: cover;
    background-position: center;
    padding: 15px;;
    border-radius: 32px;
    box-shadow: 15px 10px 0px 5px #00000033;
}

button{
    color: #000;
    cursor: pointer;
    margin: 5px;
    padding: 0;
    border-radius: 32px;
    font-size: 1.5em;
    border: none;
    background-color: #ffff;
}

button:active{
    background-color: #000;
}

button:focus{
    outline: none;
}

.col-2{
    grid-column: span 2; /* span con valores X */
}

.display{
    grid-column: 1 / -1; /* margenes laterales, usar todo el ancho */
    display: flex;
    padding: 16px;
    margin: 10px 10px 20px;
    flex-direction: column;
    align-items: end;
    background-color: #000;
    border-radius: 32px;  
    text-align: right;  
    justify-content: space-between;
    word-break: break-all;
    box-shadow: 0px 0px 0px 10px #00000033;
}

#valor-actual{
    font-size: 1.5em;
}

#valor-anterior{
    font-size: 2em;
}

.developer{
    display: grid;
    justify-content: center;
    align-items: center;
   
}

.texto-animado{
    animation-name: anim;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    padding: 10px;
    border-radius: 32px;

}

@keyframes anim{
    0% {background-color: rgb(0, 255, 0);} /*Amarillo*/
   25% {background-color: #f80;} /*Naranja*/
   50% {background-color: #000;} /*Negro*/
   75% {background-color: #f80;} /*Otra vez naranja*/
  100% {background-color: rgb(0, 255, 0);} /*Otra vez amarillo*/
}